.playground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 6, 6, 0.9);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ceiling {
  max-height: 200px;
  min-height: 150px;
  flex: 0 1 auto;
}

.dancer-space {
  position: relative;
  flex: 1;
}

.stage {
  min-height: 100px;
  flex: 0 1 auto;
  background-color: rgba(90, 61, 206, 0.4);
}

.micheal-jackson {
  position: absolute;
  margin-top: 20px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
}

.hat {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: rotate(20deg);
}
.hat-top {
  height: 20px;
  width: 45px;
  background-color: white;
  margin: 0 10px;
}

.hat-bottom {
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 45px;
}
.face {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-left: 20px solid rgb(247, 197, 197);
  transform: rotate(-70deg);
  margin-top: -30px;
}

.body {
  position: relative;
  justify-content: center;
  margin-top: 10px;
  width: 20px;
  height: 50px;
  background-color: white;
  margin-right: 21px;
}

.right-arm {
  position: absolute;
  width: 20px;
  background-color: transparent;
  transform: rotate(-30deg) translate(21px, 5px);
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  height: 15px;
}

.left-arm {
  position: absolute;
  width: 20px;
  background-color: transparent;
  transform: rotate(125deg) translate(15px, 15px);
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  height: 20px;
}

.legs {
  width: 100%;
  margin-top: 2px;
  display: flex;
}

.left-leg, .right-leg {
  position: relative;
  margin-left: 10px;
}

.leg-upper.stage-1 {
  position: absolute;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(10deg);
}

.leg-lower.stage-1 {
  position: absolute;
  top: 40px;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(10deg) translateX(-7px);
}

.foot.stage-1 {
  position: absolute;
  top: 80px;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid white;
  border-left: 12px solid white;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: translateX(-10px);
}

.leg-upper.stage-2 {
  position: absolute;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(-10deg) translate(7px,0px);
}

.leg-lower.stage-2 {
  position: absolute;
  top: 40px;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(0deg) translate(7px,0px);
}

.foot.stage-2 {
  position: absolute;
  top: 80px;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid white;
  border-left: 12px solid white;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: rotate(10deg) translate(7px,0px);
}

.leg-upper.stage-3 {
  position: absolute;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(-30deg) translate(18px,10px);
}

.leg-lower.stage-3 {
  position: absolute;
  top: 40px;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(-10deg) translate(35px, 2px);
}

.foot.stage-3 {
  position: absolute;
  top: 80px;
  width: 0px;
  height: 0px;
  border-bottom: 12px solid white;
  border-left: 15px solid white;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  transform:  translate(34px,-4px) rotate(50deg);
}

.moon-walker {
  animation: moon-walks 1s ease-in-out;
}

.leg-upper.stage-4 {
  position: absolute;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(-40deg) translate(10px,10px);
}
.leg-lower.stage-4 {
  position: absolute;
  top: 40px;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(15deg) translate(20px, -10px);
}

.foot.stage-4 {
  position: absolute;
  top: 80px;
  width: 0px;
  height: 0px;
  border-bottom: 12px solid white;
  border-left: 15px solid white;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  transform:  translate(14px,-4px) rotate(50deg);
}

.leg-upper.stage-5 {
  position: absolute;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(-55deg) translate(18px,10px);
}
.leg-lower.stage-5 {
  position: absolute;
  top: 40px;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(-30deg) translate(50px, 4px);
}

.foot.stage-5 {
  position: absolute;
  top: 80px;
  width: 0px;
  height: 0px;
  border-bottom: 12px solid white;
  border-left: 15px solid white;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  transform:  translate(64px,-30px) rotate(-40deg);
}

.leg-upper.stage-7 {
  position: absolute;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(-25deg) translate(18px,10px);
}
.leg-lower.stage-7 {
  position: absolute;
  top: 40px;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(-10deg) translate(30px, 2px);
}

.foot.stage-7 {
  position: absolute;
  top: 80px;
  width: 0px;
  height: 0px;
  border-bottom: 12px solid white;
  border-left: 15px solid white;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  transform:  translate(34px,-4px) rotate(50deg);
}

.leg-upper.stage-6 {
  position: absolute;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(-30deg) translate(10px,10px);
}
.leg-lower.stage-6 {
  position: absolute;
  top: 40px;
  height: 40px;
  width: 15px;
  background-color: white;
  transform: rotate(15deg) translate(15px, -5px);
}

.foot.stage-6 {
  position: absolute;
  top: 80px;
  width: 0px;
  height: 0px;
  border-bottom: 12px solid white;
  border-left: 15px solid white;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  transform:  translate(4px,-4px) rotate(30deg);
}
