.playground-moonwalk {
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 6, 6, 0.9);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;
}

.ceiling {
  max-height: 200px;
  min-height: 150px;
  flex: 0 1 auto;
}

.dancer-space {
  position: relative;
  flex: 1;
}

.stage {
  min-height: 100px;
  flex: 0 1 auto;
  background-color: rgba(90, 61, 206, 0.4);
}

.micheal-jackson {
  position: absolute;
  margin-top: 20px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  z-index: 2;
}

.hat {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: rotate(20deg);
}
.hat-top {
  height: 20px;
  width: 45px;
  background-color: white;
  margin: 0 10px;
  box-shadow: 5px 10px 10px #fff;
}

.hat-bottom {
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 45px;
  box-shadow: 5px 10px 10px #fff;
}
#micheal-jackson .face {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-left: 20px solid rgb(247, 197, 197);
  transform: rotate(-70deg);
  margin-top: -30px;
  box-shadow: 5px 10px 10px #fff;
}

#micheal-jackson .body {
  position: relative;
  justify-content: center;
  margin-top: 10px;
  width: 20px;
  height: 50px;
  background-color: white;
  margin-right: 21px;
  box-shadow: 5px 10px 10px #fff;
}

#micheal-jackson .right-arm {
  position: absolute;
  width: 20px;
  background-color: transparent;
  transform: rotate(-30deg) translate(21px, 5px);
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  box-shadow: 5px 10px 10px #fff;
  height: 15px;
}

#micheal-jackson .left-arm {
  position: absolute;
  width: 20px;
  background-color: transparent;
  transform: rotate(125deg) translate(15px, 15px);
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  box-shadow: 5px 10px 10px #fff;
  height: 20px;
}

#micheal-jackson .legs {
  width: 100%;
  margin-top: 2px;
  display: flex;
}

#micheal-jackson .left-leg, #micheal-jackson .right-leg {
  position: relative;
  margin-left: 10px;
}

#micheal-jackson .leg-upper {
  position: absolute;
  top: 0;
  height: 40px;
  width: 15px;
  background-color: white;
  box-shadow: 5px 10px 10px #fff;
}

#micheal-jackson .leg-lower {
  position: absolute;
  top: 40px;
  height: 40px;
  width: 15px;
  background-color: white;
  box-shadow: 5px 10px 10px #fff;
}

#micheal-jackson .foot {
  position: absolute;
  top: 80px;
  width: 0px;
  height: 0px;
  border-bottom: 12px solid white;
  border-left: 15px solid white;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
}

#micheal-jackson .leg-upper.stage-1 {
  transform: rotate(10deg);
}

#micheal-jackson .leg-lower.stage-1 {
  transform: rotate(10deg) translateX(-7px);
}

#micheal-jackson .foot.stage-1 {
  border-bottom: 10px solid white;
  border-left: 12px solid white;
  transform: translateX(-10px);
}

#micheal-jackson .leg-upper.stage-2 {
  transform: rotate(-10deg) translate(7px,0px);
}

#micheal-jackson .leg-lower.stage-2 {
  transform: rotate(0deg) translate(7px,0px);
}

#micheal-jackson .foot.stage-2 {
  border-bottom: 10px solid white;
  border-left: 12px solid white;
  transform: rotate(10deg) translate(7px,0px);
}

#micheal-jackson .leg-upper.stage-3 {
  transform: rotate(-30deg) translate(18px,10px);
}

#micheal-jackson .leg-lower.stage-3 {
  transform: rotate(-10deg) translate(35px, 2px);
}

#micheal-jackson .foot.stage-3 {
  transform:  translate(34px,-4px) rotate(50deg);
}

#micheal-jackson .leg-upper.stage-4 {
  transform: rotate(-40deg) translate(10px,10px);
}
#micheal-jackson .leg-lower.stage-4 {
  transform: rotate(15deg) translate(20px, -10px);
}

#micheal-jackson .foot.stage-4 {
  transform:  translate(14px,-4px) rotate(50deg);
}

#micheal-jackson .leg-upper.stage-5 {
  transform: rotate(-55deg) translate(18px,10px);
}
#micheal-jackson .leg-lower.stage-5 {
  top: 40px;
  transform: rotate(-30deg) translate(50px, 4px);
}

#micheal-jackson .foot.stage-5 {
  transform:  translate(64px,-30px) rotate(-40deg);
}

#micheal-jackson .leg-upper.stage-6 {
  transform: rotate(-30deg) translate(10px,10px);
}
#micheal-jackson .leg-lower.stage-6 {
  transform: rotate(15deg) translate(15px, -5px);
}

#micheal-jackson .foot.stage-6 {
  transform:  translate(4px,-4px) rotate(30deg);
}

#micheal-jackson .leg-upper.stage-8 {
  transform: rotate(-120deg);
  transform-origin: top;
  transition: transform ease 1s;
}

#micheal-jackson .leg-lower.stage-8 {
  transform: translate(40px, -55px);
  transition: transform ease 1s;
}

#micheal-jackson .foot.stage-8 {
  transform: translate(45px,-55px) rotate(-50deg);
  transition: transform ease 1s;
}

#micheal-jackson .leg-upper.stage-9 {
  transform: rotate(-60deg);
  transform-origin: top;
  transition: transform ease 1s;
}

#micheal-jackson .leg-lower.stage-9 {
  transform: translate(0px,-30px) rotate(60deg);
  transition: transform ease 1s;
}

#micheal-jackson .foot.stage-9 {
  transform: translate(0px,-45px);
  transition: transform ease 1s;
}
