:root {
  --total-snail-width: 100px;
  --total-snail-height: 75px;
  --shell-width: 50px;
  --face-width: 20px;
  --face-height: 15px;
  --antenna-size: 3px;
  --eye-height: 20px;
  --eye-width: 10px;
  --snail-color: #fcd999;
  --shell-inner-width-1: 40px;
  --shell-inner-width-2: 30px;
  --shell-inner-width-3: 20px;
  --color-outer: #fcd999;
  --color-inner-1: #fcd999;
  --color-inner-2: #fcd999;
  --color-inner-3: #fcd999;
  --stroke-width: 2px;
}

.antenna {
  grid-area: antenna;
  height: var(--antenna-size);
  width: var(--antenna-size);
}
.eye {
  grid-area: eye;
}
.face {
  grid-area: face;
}

.head {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "antenna . . . antenna" ". eye . eye ." "face face face face face";
}

.shell {
  background:
    /*The smallest circle*/
    /*the inner*/
    radial-gradient(circle at calc(50% + calc(var(--shell-inner-width-2)/2 - var(--shell-inner-width-3)/2)) 50%, var(--color-inner-3) 0 calc(var(--shell-inner-width-3)/2 - var(--stroke-width)), transparent calc(var(--shell-inner-width-3)/2 - var(--stroke-width))),
    /*then the outer black perimeter*/
    radial-gradient(circle at calc(50% + calc(var(--shell-inner-width-2)/2 - var(--shell-inner-width-3)/2)) 50%, black 0 calc(var(--shell-inner-width-3)/2), transparent calc(var(--shell-inner-width-3)/2)),

    /*The second smallest circle*/
    /*the inner*/
    /*now for this we need the inner to shift up and right a bit to cover the black stroke.. EHHHH not looking right... */
    radial-gradient(circle at calc(50% + var(--stroke-width)) calc(50% - var(--stroke-width)), var(--color-inner-2) 0 calc(var(--shell-inner-width-2)/2 - var(--stroke-width)), transparent calc(var(--shell-inner-width-2)/2 - var(--stroke-width))),
    /*then the outer black perimeter*/
    radial-gradient(circle at 50% 50%, black 0 calc(var(--shell-inner-width-2)/2), transparent calc(var(--shell-inner-width-2)/2)),


    /*The third smallest circle*/
    /*the inner*/
    /*now for this we need the inner to shift down a bit to cover the black stroke */
    radial-gradient(circle at calc(50% + var(--shell-width)/2 - var(--shell-inner-width-1)/2) calc(50% + var(--stroke-width)), var(--color-inner-1) 0 calc(var(--shell-inner-width-1)/2 - var(--stroke-width)), transparent calc(var(--shell-inner-width-1)/2 - var(--stroke-width))),
     /*then the outer black perimeter*/
    radial-gradient(circle at calc(50% + var(--shell-width)/2 - var(--shell-inner-width-1)/2) 50%, black 0 calc(var(--shell-inner-width-1)/2), transparent calc(var(--shell-inner-width-1)/2)),

    /*the outermost circle*/
     /*the inner*/
    radial-gradient(circle, var(--color-outer) 0 calc(var(--shell-width)/2 - var(--stroke-width)), transparent calc(var(--shell-width)/2 - var(--stroke-width))),
    /*then the outer black perimeter*/
    radial-gradient(circle, black 0 calc(var(--shell-width)/2), transparent calc(var(--shell-width)/2));
  width: var(--shell-width);
  height: var(--shell-width);
}
